@import '~@nerds-with-charisma/nerds-style-sass/main.scss';
@import 'prismjs';

#header {
  position: relative;
  z-index: 999;
}

.nwc--heading {
  text-transform: capitalize;
}

.overflow--hidden {
  overflow: hidden;
}

#nwc--cover-background {
  margin-top: 0;
  div:first-child {
    width: 100%;
  }
}
.docs--home-icon {
  transition: all 0.2s linear;
  color: #2c2c2c;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  margin-top: 0;

  a {
    display: block;
  }

  &:hover {
    background-color: $ctaAlt !important;
    box-shadow: 0 0px 26px rgba(0, 0, 0, 0.4);
    margin-top: -8px;

    a {
      color: #2c2c2c;
    }
  }
}

.gradient {
  padding: 10px 30px;
  background: linear-gradient(135deg, #ff16ab 0%, #ab1ccc 100%);
}

#version--info h3 {
  position: absolute;
  bottom: 3px;
  right: 0;
}

#docs--nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  a {
    position: relative;
    padding-bottom: 7px;
    text-decoration: none;
    color: $dark;
  }

  a.active::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(135deg, #ff16ab 0%, #ab1ccc 100%);
  }
}

.nwc--hex:focus {
  border: none !important;
  outline: none;
}

.ripple {
  animation: ripple 0.3s linear;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.7rem rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
  }
}
